---
# Rendered by ansible/playbooks/portainer/push-config.yaml; apps are built from domain, and hosts and devices use the homepage_url set on that inventory host
{% set docker_domain = docker_subdomain ~ '.' ~ domain %}
{% set kube_domain = (homepage.kubernetes_subdomain | default('k3s')) ~ '.' ~ domain %}
{% macro host_url(host) %}{{ (hostvars[host] | default({})).homepage_url | default(undefined) | mandatory('Set homepage_url on inventory host ' ~ host) }}{% endmacro %}
#
- Column 1:
    - CI/CD:
        - Gitlab:
            href: {{ host_url('gitlab') }}
            icon: gitlab.png
            description: Git Repository and CI/CD
            siteMonitor: {{ host_url('gitlab') }}
        - Semaphore:
            href: https://semaphore.{{ docker_domain }}
            icon: semaphore.png
            description: Automation UI
            server: my-docker
            container: semaphore
        - Hashicorp Vault:
            href: {{ host_url('hashicorp-vault') }}
            icon: hashicorp-vault.png
            description: Secrets Management
            siteMonitor: {{ host_url('hashicorp-vault') }}
        - Nginx Proxy Manager:
            href: https://nginx.{{ docker_domain }}
            icon: nginx-proxy-manager.svg
            server: my-docker
            container: nginx
            description: Reverse Proxy for Services

    - Documentation:
        - Bookstack:
            href: https://bookstack.{{ docker_domain }}
            icon: bookstack.png
            server: my-docker
            container: bookstack
            description: Documentation
        - Homebox:
            href: https://homebox.{{ docker_domain }}
            icon: sh-homebox
            server: my-docker
            container: homebox
            description: Inventory Management
        - Karakeep:
            href: https://karakeep.{{ docker_domain }}
            icon: karakeep.png
            server: my-docker
            container: karakeep
            description: Bookmarks
        - Kiwix:
            href: https://kiwix.{{ docker_domain }}
            icon: sh-kiwix
            server: my-docker
            container: kiwix
            description: Offline Repository

    - Identity:
        - 2Fauth:
            href: https://2f.{{ docker_domain }}/accounts
            icon: mdi-shield-lock
            server: my-docker
            container: 2fauth
            description: Two Factor Authentication
        - Vaultwarden:
            href: https://vault.{{ docker_domain }}/
            icon: bitwarden.png
            description: Password Manager
            siteMonitor: https://vault.{{ docker_domain }}

- Column 2:
    - Containers:
        - Portainer:
            href: https://portainer.{{ docker_domain }}
            icon: portainer.png
            server: my-docker
            container: ix-portainer-portainer-1
            description: Container Management Interface
        - KASM:
            href: {{ host_url('kasm') }}
            icon: kasm.png
            description: Containerized Workspaces
            siteMonitor: {{ host_url('kasm') }}
        - Rancher:
            href: https://rancher.{{ kube_domain }}
            icon: rancher.png
            description: Kubernetes Management
            siteMonitor: https://rancher.{{ kube_domain }}
    - Compute:
        - PVE-VM-1:
            href: {{ host_url('PVE-VM-1') }}
            icon: proxmox.png
            description: Proxmox Hypervisor
            siteMonitor: {{ host_url('PVE-VM-1') }}
        - PVE-VM-2:
            href: {{ host_url('PVE-VM-2') }}
            icon: proxmox.png
            description: Proxmox Hypervisor
            siteMonitor: {{ host_url('PVE-VM-2') }}
        - PVE-VM-3:
            href: {{ host_url('PVE-VM-3') }}
            icon: proxmox.png
            description: Proxmox Hypervisor
            siteMonitor: {{ host_url('PVE-VM-3') }}
    - Storage:
        - TrueNAS Scale:
            href: {{ host_url('truenas-scale') }}
            icon: truenas.png
            description: TrueNAS Scale primary node.
            siteMonitor: {{ host_url('truenas-scale') }}
        - TrueNAS Claw:
            href: {{ host_url('truenas-claw') }}
            icon: truenas.png
            description: TrueNAS Scale offsite ZFS replication node.
            siteMonitor: {{ host_url('truenas-claw') }}
        - Unraid:
            href: {{ host_url('unraid') }}
            icon: unraid.png
            description: Shared Media Network Attached Storage
            siteMonitor: {{ host_url('unraid') }}
        - NextCloud:
            href: https://nextcloud.{{ docker_domain }}
            icon: nextcloud.png
            description: Personal Cloud
            server: my-docker
            container: nextcloud
        - Garage:
            href: https://garageui.{{ docker_domain }}
            icon: garage.png
            description: S3 Object Storage
            server: my-docker
            container: garage
        - Longhorn:
            href: https://longhorn.{{ kube_domain }}
            icon: longhorn.png
            description: Kubernetes Storage Management
            siteMonitor: https://longhorn.{{ kube_domain }}
        - DVBMv3:
            href: https://dvbm3.{{ docker_domain }}
            icon: backblaze.svg
            description: Docker Volume Backups
            server: my-docker
            container: dvbmv3

    - Network:
        - Netbox:
            href: https://netbox.{{ docker_domain }}
            icon: netbox.svg
            server: my-docker
            container: netbox
            description: Network Topology and Source of Truth
        - Citadel:
            href: {{ host_url('citadel') }}
            icon: opnsense.png
            description: Opnsense Network Security Appliance
            siteMonitor: {{ host_url('citadel') }}
        - ICX 6610:
            href: {{ host_url('core-switch-1') }}
            icon: brocade.svg
            description: Core Switch

    - Power:
        - APC AP7752:
            href: {{ host_url('apc-pdu') }}
            icon: apc
            description: Automatic Transfer Switch
            ping: {{ host_url('apc-pdu') | urlsplit('hostname') }}
        - Eaton 9130:
            href: {{ host_url('eaton-ups') }}
            icon: mdi-power-plug-battery
            description: Primary UPS
            ping: {{ host_url('eaton-ups') | urlsplit('hostname') }}

- Column 3:
    - Automation and Monitoring:
        - Home Assistant:
            href: {{ host_url('home-assistant') }}
            icon: home-assistant.svg
            description: Home Automation Platform
            siteMonitor: {{ host_url('home-assistant') }}
        - Malcolm:
            href: https://malcolm.{{ docker_domain }}
            icon: splunk.png
            description: Network Traffic Monitoring
        - NTFY:
            href: https://Ntfy.{{ docker_domain }}
            icon: sh-ntfy
            description: Scripted Notifications
            server: my-docker
            container: ntfy
        - Uptime Kuma:
            href: https://kuma.{{ docker_domain }}
            icon: uptime-kuma.svg
            description: Uptime Monitoring
            siteMonitor: https://kuma.{{ docker_domain }}
        - Crowdsec:
            href: https://app.crowdsec.net/
            icon: crowdsec.svg
        - ChangeDetection.io:
            href: https://detect.{{ docker_domain }}
            icon: changedetection.png
            description: Website Change Notifications
            server: my-docker
            container: changedetection
        - Avocent KVM:
            href: {{ host_url('kvm') }}
            icon: sh-jetkvm
            description: Mergepoint Unity KVM
            siteMonitor: {{ host_url('kvm') }}
        - KonnectedAlarm Panel:
            href: {{ host_url('alarm-panel') }}
            icon: sh-konnected
            description: Smart Home Alarm Panel
        - SLZB06:
            href: {{ host_url('slzb06') }}
            description: Zigbee Gateway
            icon: sh-slzb06
    - Productivity:
        - Guacamole:
            href: https://guacamole.{{ docker_domain }}/guacamole
            icon: guacamole.svg
            server: my-docker
            container: guacamole
            description: Remote System Management, RDP & SSH
        - Omnitools:
            href: https://omnitools.{{ docker_domain }}/
            icon: sh-omnitools
            server: my-docker
            container: omnitools
            description: PDF and Image Tools
        - Cryptpad:
            href: https://cryptpad.{{ docker_domain }}
            icon: sh-cryptpad
            server: my-docker
            container: cryptpad
            description: Secure Collaboration Docs
        - IT-Tools:
            href: https://it-tools.{{ docker_domain }}
            icon: it-tools.png
            server: my-docker
            container: it-tools
        - withoutBG:
            href: https://withoutbg.{{ docker_domain }}
            icon: sh-withoutbg
            server: my-docker
            container: withoutbg
        - Worksuite:
            href: https://worksuite.{{ docker_domain }}
            icon: mdi-briefcase-outline
            server: my-docker
            container: worksuite
            description: Projects, Clients and HR

- Media:
    - S.P.O.G.:
        href: https://web.{{ domain }}
        icon: organizr.png
        server: my-unraid
        container: organizrv2
        description: Single Pane of Glass - Media Management
    - Plex:
        href: https://app.plex.tv/desktop/#!/
        icon: plex.png
        description: Media Server
        siteMonitor: {{ host_url('plex') }}
        widget:
          type: tautulli
          url: https://web.{{ domain }}/tautulli
          key: "{{ '{{HOMEPAGE_VAR_TAUTULLI_TOKEN}}' }}"
          enableUser: false # optional, defaults to false
          showEpisodeNumber: true # optional, defaults to false
          expandOneStreamToTwoRows: false # optional, defaults to true
    - ROMM:
        href: https://romm.{{ domain }}
        icon: romm.png
        server: my-unraid
        container: romm
        description: Retro Game Manager
    - Navidrome:
        href: https://media.{{ domain }}/music
        icon: navidrome.png
        server: my-unraid
        container: navidrome
        description: Music
    - Komga:
        href: https://media.{{ domain }}/textbooks
        icon: komga.png
        server: my-unraid
        container: komga
        description: Comics
    - Audiobookshelf:
        href: https://media.{{ domain }}
        icon: audiobookshelf.png
        server: my-unraid
        container: audiobookshelf
        description: Audiobooks
    - Kavita:
        href: https://media.{{ domain }}/books
        icon: kavita.png
        server: my-unraid
        container: kavita
        description: eBooks
    - Berserk:
        href: https://berserk.{{ docker_domain }}
        icon: mdi-sword
        server: my-unraid
        container: kavita
        description: eBooks
    - Gametable:
        href: https://magic.{{ docker_domain }}
        icon: mdi-cards-playing
        server: my-unraid
        container: kavita
        description: eBooks
    - TvSync:
        href: https://tvsync.{{ domain }}
        icon: mdi-television-play
        server: my-unraid
        container: kavita
        description: eBooks
    - Plexbuster:
        href: https://plexbuster.{{ docker_domain }}
        icon: mdi-ghost
        server: my-unraid
        container: kavita
        description: eBooks
